
.sidebar {
  font-size: 12px;
  .item {
    .title {
      padding: 5px 0 5px 20px;
      .icon {
        width: 50px;
      }
      .text {

      }

    }
    .subTitle {
      padding: 5px 0 5px 20px;
    }
  }
}
