
.historyList {
  display: block;
  height: 150px;
  overflow: auto;
  border: 1px solid #ddd;
  font-size: 0;
  position: relative;
  padding-top: 24px;
  .th {
    position: fixed;
    top: 0;
    width: 906px;
    background: #dcdcdc;
    .grid {
      display: inline-block;
      width: 20%;
      font-size: 12px;
      padding-left: 5%;
    }
  }
}

.historyItem {
  display: flex;
  min-height: 30px;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  .grid {
    font-size: 12px;
    width: 25%;
    word-break: break-all;
  }
  .commitId {
    max-width: 100px;
  }
}

.historyItem:focus {
  background: #125fc8;
  color: #fff;
  outline: none;
}

.historyItem:not(:last-child) {
  border-bottom: 1px solid #ddd
}

.graph {
  display: inline-block;
}
