.ellipsis {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.historyList {
  display: block;
  height: 150px;
  overflow: auto;
  border: 1px solid #ddd;
  font-size: 0;
  position: relative;
  padding-top: 10px;
  .th {
    position: fixed;
    top: 9px;
    width: 682px;
    background: #dcdcdc;
    .grid {
      display: inline-block;
      width: 20%;
      font-size: 12px;
      padding-left: 5%;
    }
  }
}

.historyItem {
  display: flex;
  min-height: 50px;
  justify-content: space-around;
  align-items: center;
  .grid {
    font-size: 12px;
    width: 25%;
    word-break: break-all;
  }
  .commitId {
    max-width: 100px;
  }
}

.historyItem:not(:last-child) {
  border-bottom: 1px solid #ddd
}

.graph {
  display: inline-block;
}
