
.historyList {
  display: block;
  height: 150px;
  overflow: auto;
  border: 1px solid #ddd;
  font-size: 0;
  position: relative;
  padding-top: 24px;
  .th {
    position: absolute;
    top: 0;
    width: 906px;
    background: #dcdcdc;
    .grid {
      display: inline-block;
      width: 20%;
      font-size: 12px;
      padding-left: 5%;
    }
  }
  .loadAll {
    font-size: 12px;
    width: 100%;
    text-align: center;
    height: 24px;
    line-height: 24px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
    color: #125fc8;
    cursor: pointer;
  }
}

.historyItem {
  display: flex;
  min-height: 30px;
  justify-content: space-around;
  align-items: center;
  white-space: pre-line;
  cursor: pointer;
  .grid {
    font-size: 12px;
    width: 25%;
    word-break: break-all;
  }
  .commitId {
    max-width: 100px;
  }
  .tag {
    display: inline-block;
    background: #f3eac3;
    padding: 2px 4px;
    border-radius: 2px;
    margin-right: 4px;
    color: #000 !important;
  }
}

.historyItem:focus {
  background: #125fc8;
  color: #fff;
  outline: none;
}

.historyItem:not(:last-child) {
  border-bottom: 1px solid #ddd
}

.graph {
  display: inline-block;
}
