
.panelRight {
  margin-left: 140px;
}

.panelLeft {
  position: absolute;
  left: 0;
  top: 0;
  width: 140px;
  background: #e8e9e8;
  height: 100%;
  border-right: 1px solid #ddd;
}



.repo {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  .commitFileList {
    margin-top: 10px;
  }
}
