
.panelRight {
  margin-left: 100px;
}

.panelLeft {
  position: absolute;
  left: 0;
  top: 0;
}



.repo {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  .commitFileList {
    margin-top: 10px;
  }
}
