
.projectList {
  .projectItem {
    padding: 0 10px;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    display: flex;
    border-top: 1px solid #ddd;
    .left {
      > * {
        display: inline-block;
      }
    }
    .bucket {
      border: 1px solid #999;
      height: 30px;
      width: 30px;
      border-radius: 16px;
      text-align: center;
      line-height: 31px;
      margin-right: 10px;
      color: #999;
    }
  }
  .projectItem:focus {
    background: #125fc8;
    color: #fff;
    outline: none;
  }
  .projectItem:last-child {
    border-bottom: 1px solid #ddd;
  }
}

