
.commitForm {
  width: 96%;
  margin: auto;
  padding-top: 8px;
  .commitTextarea {
    border: none;
    outline: none;
    resize: none;
    width: 99%;
    padding-left: 1%;
    height: 50px;
  }
  .buttonGroup {
    text-align: right;
    font-size: 12px;
    .button {
      display: inline-block;
      border: 1px solid #999;
      padding: 2px 20px;
      border-radius: 4px;
      cursor: pointer;
    }
    .cancel {
      margin: 6px 5px;
      background: #fff;
    }
    .submit {
      color: #fff;
      background: #125fc8;
    }
  }
}

