
@import "../HisotryPage/HistoryPage";

.historyPage {
  .searchArea {
    padding: 3px;
    .inputText {
      width: 500px;
    }
    .label {
      font-size: 12px;
      margin: 0 6px;
    }
    .button {
      margin-left: 5px;
    }
  }
  .detail {

    .left {

    }
    .right {

    }
  }
}
