body {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ellipsis {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@font-face {font-family: 'iconfont';
  src: url('../assets/icons/iconfont.eot'); /* IE9*/
  src: url('../assets/icons/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/icons/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../assets/icons/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../assets/icons/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.txIcon {
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.txIcon.big:before {
  font-size: 24px;
}

.codeFork:before {
  @extend .txIcon;
  content: "\e6a8";
}

.branch:before {
  @extend .txIcon;
  content: '\e6a8';
}

.bucket:before {
  @extend .txIcon;
  content: '\e701';
}

.search:before {
  @extend .txIcon;
  content: '\e611';
}

.setting:before {
  @extend .txIcon;
  content: '\e79f';
}

.iconCodeFork:before {
  @extend .txIcon;
  content: '\e652';
}

.tag:before {
  @extend .txIcon;
  content: '\e69c';
}

.cloud:before {
  @extend .txIcon;
  content: '\e635'
}

.terminal:before {
  @extend .txIcon;
  content: '\e874';
}

.boxDot:before {
  @extend .txIcon;
  content: '\e638'
}

.pc:before {
  @extend .txIcon;
  content: '\e697';
}

.treeFrame:before {
  @extend .txIcon;
  content: '\e635';
}

.merge:before {
  @extend .txIcon;
  content: '\e73a';
}

.push:before {
  @extend .txIcon;
  content: '\e672';
}

.pull:before {
  @extend .txIcon;
  content: '\e673';
}

.add:before {
  @extend .txIcon;
  content: '\e660';
}
