body {
  margin: 0;
  padding: 0;
}
.ellipsis {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@font-face {font-family: 'iconfont';
  src: url('../assets/icons/iconfont.eot'); /* IE9*/
  src: url('../assets/icons/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/icons/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../assets/icons/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../assets/icons/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.txIcon {
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}

.txIcon.big:before {
  font-size: 24px;
}

.codeFork:before {
  @extend .txIcon;
  content: '\e617';
}

.bucket:before {
  @extend .txIcon;
  content: '\e701';
}

.search:before {
  @extend .txIcon;
  content: '\e672';
}

.setting:before {
  @extend .txIcon;
  content: '\e655';
}

.iconCodeFork:before {
  @extend .txIcon;
  content: '\e652';
}

.tag:before {
  @extend .txIcon;
  content: '\e6f5';
}

.cloud:before {
  @extend .txIcon;
  content: '\e62e'
}
